h1 {
    color: green;
}

.bg-test {
    height: 100px;
    width: 100px;
    display: block;
    background-image: url('../img/webpack.svg');
    background-position: center;
    background-size: contain;
}