.user-area {
    display: flex;
}

h1 {
    background-color: tan;
    font-family: 'Dosis1';
    color: red;
}

// @font-face {
//     font-family: 'Dosis1';
//     src: url('../fonts/dosis-extrabold.woff') format('woff');
//     font-style: normal;
//     font-weight: bold; 
// }