@font-face {
    font-family: 'PT';
    src: url('./PTSansBold.woff2') format('woff2'),
         url('./PTSansBold.woff') format('woff');
    font-style: normal;
    font-weight: bold; 
}

body {
    font-family: 'PT';
}

.test-logo img {
    width: 100px;
    height: 100px;
}