@font-face {
    font-family: 'Dosis1';
    // src: url('./blocks/fonts/dosis-extrabold.woff2') format('woff2');
    src: url('./fonts/dosis-extrabold.woff2') format('woff2');
    // src: url('./dosis-extrabold.woff2') format('woff2');
    // src: url('dosis-extrabold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold; 
}
